<div class="row">
    <div class="col-md-8 col-md-offset-2 well bg-color">
        <p>S-portfolio is an online platform to buid your personal Portfolio and share it with the WEB, your profile will help you get hired by sharing your background, education, experiences and skills with hiring companies Worldwide</p>
    </div>
</div>